version: '3.8'

services:
  app:
    build: .
    container_name: my-java-app
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

  redis:
    image: redis:7.0-alpine
    container_name: my-redis
    ports:
      - "6379:6379"

  redis-insight:
    image: redis/redisinsight:latest
    container_name: my-redis-insight
    ports:
      - "5540:5540"
    depends_on:
      - redis